body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e8eff5; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

input, button {
    margin: 10px;
    padding: 15px 25px;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 8px;
    width: 85%;
    max-width: 320px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.12);
    background: white;
    transition: all 0.35s ease-in-out;
}

input:focus, button:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

button {
    background-image: linear-gradient(to right, #0062E6, #33AEFF);
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-image: linear-gradient(to right, #0050ca, #2ca8ff);
}

button:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
}

input:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
